---
import TableOfContents from "@components/TableOfContents.astro";
import Layout from "./Layout.astro";
import Navbar from "@components/Navbar.astro";
import CommandPalette from "@components/CommandPalette";
import PostComment from "@components/PostComment.astro";
import Footer from "@components/Footer.astro";

const { frontmatter, headings } = Astro.props;
---

<Layout title={frontmatter.title}>
  <!-- 顶部导航栏 -->
  <Navbar />
  <div class="bg-primary-200 h-full min-h-screen">
    <div class="p-10">
      <!-- 标题 -->
      <h1 class="text-5xl font-bold text-center">{frontmatter.title}</h1>
      <!-- 描述 -->
      <p class="text-center">{frontmatter.description}</p>
      <!-- 日期 -->
      <p class="text-center">{frontmatter.date}</p>

      <CommandPalette client:load />

      <!-- 目录 -->
      <TableOfContents headings={headings} />

      <!-- 内容 -->
      <article class="prose p-4 min-w-[80%] mx-auto">
        <slot />
      </article>

      <!-- 评论 -->
      <PostComment />

      <!-- 页脚 -->
      <Footer />
    </div>
  </div>
</Layout>
