---
import '@/styles/globals.css'
import TableOfContents from "@components/TableOfContents.astro";
import Layout from "./Layout.astro";
import Navbar from "@components/Navbar.astro";
import CommandPalette from "@components/CommandPalette";
import PostComment from "@/components/GiscusComment.astro";
// import PostComment from "@/components/Comment";
import Footer from "@components/Footer.astro";
import ReadProgressBar from "@components/ReadProgressBar.astro";
import BackLinks from "@components/BackLinks.astro";
import type { CollectionEntry } from 'astro:content';

interface Frontmatter {
  title: string;
  description: string;
  lang?: string;
  tags?: string[];
  date: string;
}

interface Props {
  frontmatter: Frontmatter;
  headings: {
    depth: number;
    slug: string;
    text: string;
  }[];
  backlinks: CollectionEntry<'blog'>[];
}

const { frontmatter, headings, backlinks } = Astro.props;
const lang = frontmatter.lang || 'en';
const tags = frontmatter.tags || [];

const locals = Astro.locals;
---

<Layout title={frontmatter.title} description={frontmatter.description} lang={lang}>
  <Navbar />
  <ReadProgressBar />
  <div class="bg-primary-200 min-h-screen">
    <div class="container mx-auto px-4 py-8">
      <!-- Title -->
      <h1 class="text-5xl font-extrabold text-center mb-4">{frontmatter.title}</h1>

      <!-- Tags -->
      <div class="text-center mb-4">
        {tags.map((tag: string) => (
          <span class="inline-block bg-gray-200 text-gray-700 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded">{tag}</span>
        ))}
      </div>

      <!-- Description -->
      <p class="text-xl text-center mb-2 font-sans text-gray-600 max-w-2xl mx-auto">{frontmatter.description}</p>
      <!-- Date -->
      <p class="text-sm text-center mb-8 font-mono text-gray-500">{frontmatter.date}</p>

      <CommandPalette client:load />

      <div class="flex flex-col lg:flex-row gap-8">
        <!-- Table of Contents -->
        <div class="lg:w-1/5 lg:sticky lg:top-24 lg:self-start">
          <TableOfContents headings={headings} />
        </div>

        <!-- Content -->
        <article class="prose lg:prose-xl lg:w-4/5 font-sans">
          <slot />
        </article>

        <!-- Backlinks -->
        <div class="lg:w-1/5 lg:sticky lg:top-24 lg:self-start">
          <BackLinks backlinks={backlinks} />
        </div>
      </div>

      <!-- Comments -->
      <!-- <PostComment client:only="react" /> -->
      <PostComment />

      <!-- Footer -->
      <Footer />
    </div>
  </div>
</Layout>
