---
import TableOfContents from "@components/TableOfContents.astro";
import Layout from "./Layout.astro";
import Navbar from "@components/Navbar.astro";
import CommandPalette from "@components/CommandPalette";
import PostComment from "@components/PostComment.astro";
import Footer from "@components/Footer.astro";
import ReadProgressBar from "@components/ReadProgressBar.astro";

const { frontmatter, headings } = Astro.props;
const lang = frontmatter.lang || 'en';
---

<Layout title={frontmatter.title} lang={lang}>
  <!-- 顶部导航栏 -->
  <Navbar />
  <ReadProgressBar></ReadProgressBar>
  <div class="bg-primary-200 min-h-screen">
    <div class="container mx-auto px-4 py-8">
      <!-- 标题 -->
      <h1 class="text-4xl font-bold text-center mb-4">{frontmatter.title}</h1>
      <!-- 描述 -->
      <p class="text-center mb-2">{frontmatter.description}</p>
      <!-- 日期 -->
      <p class="text-center mb-8">{frontmatter.date}</p>

      <CommandPalette client:load />

      <div class="flex flex-col md:flex-row gap-8">
        <!-- 目录 -->
        <div class="md:w-1/4 md:sticky md:top-24 md:self-start">
          <TableOfContents headings={headings} />
        </div>

        <!-- 内容 -->
        <article class="prose md:w-3/4">
          <slot />
        </article>
      </div>

      <!-- 评论 -->
      <PostComment />

      <!-- 页脚 -->
      <Footer />
    </div>
  </div>
</Layout>
